@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-weight: normal;
}

a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
}

.new-task-row {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.add-task {
  display: flex;
  align-items: center;
  cursor: pointer;
}
.plus-icon {
  font-size: 24px;
  margin-right: 10px;
}
.task-item {
  border: 1px solid #ccc;
  border-radius: 8px;
  margin: 10px 0;
  padding: 10px;
}
.task-row {
  display: flex;
  align-items: center;
}
.task-checkbox {
  margin-right: 10px;
}
.task-title {
  flex-grow: 1;
  cursor: pointer;
}
.task-details {
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #ddd;
}
.editable-field {
  width: 100%;
  margin-top: 5px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
button {
  margin-top: 10px;
  padding: 5px 10px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
}
button:hover {
  background-color: #0056b3;
}

.completed {
  color: grey;
  opacity: 0.6;
}
